@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 2em;
    font-family: Inter,sans-serif;
    font-size: 18px;
    background-color: #ccc;
}

.card-gallery{
    width: 1700px;
    display: flex;
    gap: 2em;
}
.card{
    width: 550px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.card p:first-child{
    color: gray;
    margin-bottom: 0.5em;
    font-weight: 650;
}

.card h2{
    margin-bottom: 1.5em;
    font-weight: 400;
}
.description .main-text{
    color: gray;
}
.media img
{
    width: 550px;
    height: 313px;
    display: block;
}
.description{
    padding: 2em;
    display: flex;
    flex-direction: column;
}

figure{
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
figure img{
    width: 100%;
    height: auto;
    display: block;
}

.card-footer{
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-photo{
    display: flex;
    align-items: center;
    gap: 1em;
}

footer >p:last-child{
    color: gray;
}